<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@500&family=Tangerine&family=PT+Sans&family=Redressed&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="text-box">
        <h1 class="heading-primary">
          <span class="heading-primary-main"
            >Mon<span style="color: red">s</span>ters</span
          >
          <span class="heading-primary-sub"
            >are coming for yo<span style="color: red">u</span></span
          >
        </h1>
        <div class="buttons">
          <div><a href="#" class="btn btn-yellow">Run</a></div>
          <div><a href="#" class="btn btn-red">Fight</a></div>
        </div>
      </div>
    </header>
    <!-- <h1 > id="title" -->
    <h1 id="one">
      Monsters That Didn't Make The Cut <span style="color: red">:</span>(
    </h1>
    <ul>
      <!-- permanent monsters -->
      <h1 class="subTitle">~--------- Verified ---------~</h1>

      <% for(let i = 0; i < roc.length; i++){ %>
      <section>
        <h2><%=roc[i].name%></h2>
        <img src="<%=roc[i].image%>" alt="" />
        <p>Location: <%=roc[i].location%></p>
        <p>Story: <%=roc[i].story%></p>
      </section>
      <%} %>

      <!-- created monsters in mongodb -->

      <h1 class="subTitle">~--------- Suspect ---------~</h1>
      <% for(let i = 0; i < monster.length; i++) { %>
      <section>
        <li>
          <h2>
            <a href="/monsters/<%=monster[i].id%>"> <%=monster[i].name%> </a>
          </h2>
          <img src="/image/question.png" alt="" />
          <p>Location: <%=monster[i].location%></p>
          <p>Story: <%=monster[i].story%></p>

          <form
            action="/monsters/<%=monster[i].id%>?_method=DELETE"
            method="POST"
          >
            <input class="btn" type="submit" value="DELETE" />
          </form>

          <a class="btn" href="/monsters/<%=monster[i].id%>/edit">~: Edit :~</a>
        </li>
      </section>
      <br />
      <%} %>
    </ul>

    <nav>
      <a href="/monsters/new" class="btn">~: Create a New Monster :~</a>
    </nav>
  </body>
</html>
